$errorColor: #EA5B5B;

.prettyError {
  background: $errorColor;
  border-radius: 15px;
  box-shadow: 1px 2px 1px #232b2b, -1px -1px 2px #232b2b;
  color: #fff;
  display: block;
  font: 15px monospace;
  font-weight: 500;
  max-width: 280px;
  text-align: center;
  padding: 5px;

  &:before {
    content: "\2718";
    font-size: 13px;
    margin: 0 5px;
  }
}
